* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_section {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-section {
    flex-basis: 50%;
    background-image: url("https://res.cloudinary.com/do3z5k6nk/image/upload/q_auto:good/v1664648303/pexels-ella-olsson-1640777_3_mwng1j.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
}

.right-section {
    flex-basis: 50%;
    flex-shrink: 0;
    background-color: #c7c4c4;
    position: relative;
}

.rectangle {
    position: fixed;
    width: 100vw;
    height: 30px;
    background-color: whitesmoke;
}

.navigation {
    width: 45%;
    margin-top: 6px;
}

.nav-lists {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 35px;
}

.nav-lists a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.login {
    background-color:  #c7c4c4;
    color: tomato;
    border: 0.5px solid whitesmoke;
    border-radius: 10px;
    padding: 4px;
}

h2 {
    color: tomato;
    font-family: cursive;
    font-weight: 600;
    font-size: 40px;
    line-height: 21px;
    margin-top: 100px;
    text-align: center;
}

.vibrate-1 {
	-webkit-animation: vibrate-1 2.5s linear infinite both;
	        animation: vibrate-1 2.5s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }

.form {
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 10vh
}

.sign-up label {
    color: #404040;
    width: 120px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    
}

.sign-up input {
    width: 300px;
    height: 40px;
    padding-left: 20px;
    background-color:  #c7c4c4;
    border: 1px solid #404040;
    border-radius: 5px;   
}

.fa-regular {
    margin-left: -30px;
    color: #17183B;
    cursor: pointer;
}

.checkbox {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 12px;
    width: 100%;
    max-width: 400px;
}

.checkbox a{
    text-decoration: none;
}

.submit{
  margin-top: 20px;
}

.submit button{
    width:51.5vh;
    height:50px;
    background-color: #f082ac;
    color: #f2f4fa;
    border: 0px;
    border-radius: 8px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.submit button:hover{
    background-color: #f082aca6;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.sign-in p {
    font-family: Arial, Helvetica, sans-serif;
}

.sign-in a{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding-bottom: 2px;
}

@media (max-width: 428px ) {
    .form {
        margin-left: 100px;
    }
}

@media (max-width: 768px ) {
    .main_section {
        flex-direction: column;
    }

    .rectangle {
        display: none;
    }

    h2 {
        font-size: 27px;
    }

    .submit button {
        width: 45vw;
        margin-bottom: 20px;
    }
}

 @media (max-width: 604px ) {
    h2 {
        font-size: 15;
    }

    .form {
        margin-left: 90px;
    }

.sign-up input {
    width: 230px;
}

.fa-regular {
    margin-left: -52px;
}

} 

@media (max-width: 1240px ) {
    .nav-lists {
        width: 350px;
        font-size: 12px;
        margin-left: 90px;
    }

    .nav-lists > li {
        margin-left: 10px;
    }

    .sign-in {
        margin-bottom: 20px;
    }
    

    h2 {
        font-size: 27px;
    }

}